header {
  min-height: var(--header-height);
  height: 100%;
}

.headerWrapper {
  padding: 25px 0;
  height: inherit;
}

.navWrapper a,
.headerLeftWrapper p {
  color: #838383;
}

.navWrapper {
  grid-template-columns: repeat();
}