.imgWrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--clr-gray-washed);
}

.avatarCard {
  gap: 8px;
}

.img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.title {
  font-size: var(--text-xl);
  font-weight: 500;
  color: var(--clr-black);
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
