.cardBody {
  padding: var(--space-2xl);
  border-radius: var(--space-2xl);
  background-color: var(--clr-white);
  position: relative;
  overflow: hidden;
}

.cardBody .sectionCardLoader {
  position: absolute;
  border-radius: var(--space-2xl);
}

@media (max-width: 1439px) {
  .cardBody {
    border-radius: 18px;
  }
}